<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <style>
        {% include "wumpus.css"%}
    </style>
</head>

<body>
<span id=msgs></span>
<p>
    Move to:
    <button id=move0>move</button>
    <button id=move1>move</button>
    <button id=move2>move</button></p>
<p><input type="button" onclick='shoot();' value="Shoot arrow" /> to rooms:
    <input id=arrow0 size=2 min=1 max=20/>
    <input id=arrow1 size=2 min=1 max=20/>
    <input id=arrow2 size=2 min=1 max=20/>
    <input id=arrow3 size=2 min=1 max=20/>
    <input id=arrow4 size=2 min=1 max=20/>
    <p><input type="button" onclick='invoke("Instructions")' value="Show instructions" />
    <input type="button" onclick='invoke("ReStart")' value="Restart" />
    <input type="button" onclick='invoke("Quit")' value="Quit" /></p>
    <script>
        {% include "code.js" %}
    </script>
</body>

</html>
